<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список постов</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1>Список постов</h1>
    {% if message %}
        <span>{{ message }}</span>
    {% endif %}

    {% for post in posts %}
        {% if post.is_active %}
            <div>
                <h3>{{ post.title }}</h3>
                <span>{{ post.user }}</span>
                <span>{{ post.created_at|date:"d/m/y H:i" }}</span>

                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="post" width="100px" height="100px">
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</body>
</html>
